name: Check JSON Changes
on:
  schedule:
    - cron: '00 16 * * *'
  workflow_dispatch:

permissions:
  contents: write
  actions: write

jobs:
  check_changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          
      - name: Install dependencies
        run: pip install requests

      - name: Check JSON changes
        env:
          NOTIFY_EMAIL: ${{ secrets.EMAIL_USERNAME }}
          JSON_URL_1: https://oia.nycu.edu.tw/oia/en/app/openData/data/list?module=nycu0016&mserno=07d5a12a-fbc5-492a-ba47-be3b2ff68813&type=json&id=807
          JSON_URL_2: https://oia.nycu.edu.tw/oia/en/app/openData/data/list?module=nycu0017&mserno=2f9f7ba1-83f8-4ae2-8154-9ef23ded61a2&type=json&id=814
        run: |
          # Save git operations output separately
          git_output=$(python .github/scripts/check_json.py 2>&1)
          
          # Extract only the notification part (everything after "Sending notification for changes")
          notification_content=$(echo "$git_output" | sed -n '/Updates in NYCU OIA Jobs/,$p')
          
          echo "NOTIFICATION_CONTENT<<EOF" >> $GITHUB_ENV
          echo "$notification_content" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Send email
        if: env.NOTIFICATION_CONTENT != ''
        uses: dawidd6/action-send-mail@v4
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: Updates in NYCU OIA Jobs
          to: ${{ secrets.EMAIL_USERNAME }}
          from: GitHub Action
          body: ${{ env.NOTIFICATION_CONTENT }}
